.idea
build
digital_sed.egg-info
dist
linux_venv38
win_venv38
web/node_modules
other
web/package-lock.json
gen_temp
__pycache__
coverage
playwright-report
node_modules
.vscode
web/downloads
.bob/
.DS_Store
package-lock.json